################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/backend/.vs
/backend/backend.Api/bin/Debug/netcoreapp2.1
/backend/backend.Api/obj/Debug/netcoreapp2.1
/backend/backend.Api/obj
/backend/backend.Web/bin/Debug/netcoreapp2.1
/backend/backend.Web/obj
/backend/backend.Core/bin/Debug/netcoreapp2.1
/backend/backend.Core/obj
